.vscode
.idea
.pio/build
.pio
secrets.ini
.version_no_increment
.version_no_increment_update_date
cmake-build-*
CMakeLists.txt
CMakeListsPrivate.txt
/src/idf_component.yml
/src/idf_component.yml.orig
