name: GitHub Actions CI

on: [push, pull_request]

jobs:

  build_esp8266_full:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install platformio
          python --version
      - name: Install submodules
        run: |
          git submodule update --init
      - name: Setup template config files
        run: |
          cp /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/secrets.ini.template /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/secrets.ini
      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3
      - name: Static code analysis
        run: platformio check --verbose --severity=high --skip-packages
      - name: Run PlatformIO
        run: platformio run -e glowwormluciferinfull_esp8266
      - name: Creating artifact from BIN file
        uses: actions/upload-artifact@v2
        with:
          name: DRAFT_GLOW_WORM_LUCIFERIN_ESP8266_FULL.bin
          path: .pio/build/glowwormluciferinfull_esp8266/firmware.bin
      - name: Commit firmware into GitHub.io docs folder (ESP8266 FULL)
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          run: |
            mv ./GlowWormLuciferinFULL_ESP8266_firmware.bin ./docs/static/firmware_build_beta/GlowWormLuciferinFULL_ESP8266_firmware.bin
            mv ./GlowWormLuciferinLIGHT_ESP8266_firmware.bin ./docs/static/firmware_build_beta/GlowWormLuciferinLIGHT_ESP8266_firmware.bin
            git config --global user.email "perini.davide@dpsoftware.org";
            git config --global user.name "Davide Perini";
            git add ./docs/static/firmware_build_beta/GlowWormLuciferinFULL_ESP8266_firmware.bin;
            git add ./docs/static/firmware_build_beta/GlowWormLuciferinLIGHT_ESP8266_firmware.bin;
            git commit -m "CI BETA release for firmware web installer";
            git push;

  build_esp8266_light:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install platformio
          python --version
      - name: Install submodules
        run: |
          git submodule update --init
      - name: Setup template config files
        run: |
          cp /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/secrets.ini.template /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/secrets.ini
      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3
      - name: Static code analysis
        run: platformio check --verbose --severity=high --skip-packages
      - name: Run PlatformIO
        run: platformio run -e glowwormluciferinlight_esp8266
      - name: Creating artifact from BIN file
        uses: actions/upload-artifact@v2
        with:
          name: DRAFT_GLOW_WORM_LUCIFERIN_ESP8266_LIGHT.bin
          path: .pio/build/glowwormluciferinlight_esp8266/firmware.bin

  build_esp32_full:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install platformio
          python --version
      - name: Install submodules
        run: |
          git submodule update --init
      - name: Setup template config files
        run: |
          cp /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/secrets.ini.template /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/secrets.ini
      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3
      - name: Static code analysis
        run: |
          platformio platform install espressif32
          platformio check --verbose --severity=high --skip-packages
      - name: Run PlatformIO
        run: platformio run -e glowwormluciferinfull_esp32
      - name: Creating artifact from BIN file
        uses: actions/upload-artifact@v2
        with:
          name: DRAFT_GLOW_WORM_LUCIFERIN_ESP32_FULL.bin
          path: .pio/build/glowwormluciferinfull_esp32/firmware.bin

  build_esp32_light:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install platformio
          python --version
      - name: Install submodules
        run: |
          git submodule update --init
      - name: Setup template config files
        run: |
          cp /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/secrets.ini.template /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/secrets.ini
      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3
      - name: Static code analysis
        run: |
          platformio platform install espressif32
          platformio check --verbose --severity=high --skip-packages
      - name: Run PlatformIO
        run: platformio run -e glowwormluciferinlight_esp32
      - name: Creating artifact from BIN file
        uses: actions/upload-artifact@v2
        with:
          name: DRAFT_GLOW_WORM_LUCIFERIN_ESP32_LIGHT.bin
          path: .pio/build/glowwormluciferinlight_esp32/firmware.bin