name: GitHub Actions CI

on:
  push:
    branches:
      - '*'
      - '!master'

jobs:

  build_esp8266_full:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          path: 'currentbranch'
      - uses: actions/checkout@v3
        with:
          ref: master
          path: 'beta'
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install platformio
          python --version
      - name: Install submodules
        run: |
          cd currentbranch;
          git submodule update --init
#      - name: Setup tmate session
#        uses: mxschmitt/action-tmate@v3
      - name: Setup template config files
        run: |
          cp /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/currentbranch/secrets.ini.template /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/currentbranch/secrets.ini
          touch /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/currentbranch/.version_no_increment_update_date;
      - name: Static code analysis
        run: |
          cd currentbranch;
          platformio check --verbose --severity=high --skip-packages;
      - name: Run PlatformIO
        run: |
          cd currentbranch;
          platformio run -e glowwormluciferinfull_esp8266;
      - name: Creating artifact from BIN file
        uses: actions/upload-artifact@v3
        with:
          name: DRAFT_GLOW_WORM_LUCIFERIN_ESP8266_FULL.bin
          path: /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/currentbranch/.pio/build/glowwormluciferinfull_esp8266/firmware.bin
      - name: Save artifact (glowwormluciferinfull_esp8266)
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd currentbranch;
          cp .pio/build/glowwormluciferinfull_esp8266/firmware.bin ../beta/docs/static/firmware_build_beta/GlowWormLuciferinFULL_ESP8266_firmware.bin
          cd ../beta;
          git config --global user.email "perini.davide@dpsoftware.org";
          git config --global user.name "Davide Perini";
          git add ./docs/static/firmware_build_beta/GlowWormLuciferinFULL_ESP8266_firmware.bin;
          git commit -m "CI BETA release for firmware web installer";
          git push;

  build_esp8266_light:
    runs-on: ubuntu-latest
    needs: [ build_esp8266_full ]

    steps:
      - uses: actions/checkout@v3
        with:
          path: 'currentbranch'
      - uses: actions/checkout@v3
        with:
          ref: master
          path: 'beta'
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install platformio
          python --version
      - name: Install submodules
        run: |
          cd currentbranch;
          git submodule update --init
      #      - name: Setup tmate session
      #        uses: mxschmitt/action-tmate@v3
      - name: Setup template config files
        run: |
          cp /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/currentbranch/secrets.ini.template /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/currentbranch/secrets.ini
          touch /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/currentbranch/.version_no_increment_update_date;
      - name: Static code analysis
        run: |
          cd currentbranch;
          platformio check --verbose --severity=high --skip-packages;
      - name: Run PlatformIO
        run: |
          cd currentbranch;
          platformio run -e glowwormluciferinlight_esp8266;
      - name: Creating artifact from BIN file
        uses: actions/upload-artifact@v3
        with:
          name: DRAFT_GLOW_WORM_LUCIFERIN_ESP8266_LIGHT.bin
          path: /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/currentbranch/.pio/build/glowwormluciferinlight_esp8266/firmware.bin
      - name: Save artifact (glowwormluciferinlight_esp8266)
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd currentbranch;
          cp .pio/build/glowwormluciferinlight_esp8266/firmware.bin ../beta/docs/static/firmware_build_beta/GlowWormLuciferinLIGHT_ESP8266_firmware.bin
          cd ../beta;
          git config --global user.email "perini.davide@dpsoftware.org";
          git config --global user.name "Davide Perini";
          git add ./docs/static/firmware_build_beta/GlowWormLuciferinLIGHT_ESP8266_firmware.bin;
          git commit -m "CI BETA release for firmware web installer";
          git push;

  build_esp32_full:
    runs-on: ubuntu-latest
    needs: [ build_esp8266_full, build_esp8266_light ]

    steps:
      - uses: actions/checkout@v3
        with:
          path: 'currentbranch'
      - uses: actions/checkout@v3
        with:
          ref: master
          path: 'beta'
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install platformio
          python --version
      - name: Install submodules
        run: |
          cd currentbranch;
          git submodule update --init
      #      - name: Setup tmate session
      #        uses: mxschmitt/action-tmate@v3
      - name: Setup template config files
        run: |
          cp /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/currentbranch/secrets.ini.template /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/currentbranch/secrets.ini
          touch /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/currentbranch/.version_no_increment_update_date;
      - name: Static code analysis
        run: |
          cd currentbranch;
          platformio platform install espressif32;
          platformio check --verbose --severity=high --skip-packages;
      - name: Run PlatformIO
        run: |
          cd currentbranch;
          platformio run -e glowwormluciferinfull_esp32;
      - name: Creating artifact from BIN file
        uses: actions/upload-artifact@v3
        with:
          name: DRAFT_GLOW_WORM_LUCIFERIN_ESP32_FULL.bin
          path: /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/currentbranch/.pio/build/glowwormluciferinfull_esp32/firmware.bin
      - name: Save artifact (glowwormluciferinfull_esp32)
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd currentbranch;
          cp .pio/build/glowwormluciferinfull_esp32/firmware.bin ../beta/docs/static/firmware_build_beta/GlowWormLuciferinFULL_ESP32_firmware.bin
          cp .pio/build/glowwormluciferinfull_esp32/firmware-factory.bin ../beta/docs/static/firmware_build_beta/GlowWormLuciferinFULL_ESP32_firmware-factory.bin
          cd ../beta;
          git config --global user.email "perini.davide@dpsoftware.org";
          git config --global user.name "Davide Perini";
          git add ./docs/static/firmware_build_beta/GlowWormLuciferinFULL_ESP32_firmware.bin;
          git add ./docs/static/firmware_build_beta/GlowWormLuciferinFULL_ESP32_firmware-factory.bin;
          git commit -m "CI BETA release for firmware web installer";
          git push;

  build_esp32_light:
    runs-on: ubuntu-latest
    needs: [ build_esp8266_full, build_esp8266_light, build_esp32_full ]

    steps:
      - uses: actions/checkout@v3
        with:
          path: 'currentbranch'
      - uses: actions/checkout@v3
        with:
          ref: master
          path: 'beta'
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install platformio
          python --version
      - name: Install submodules
        run: |
          cd currentbranch;
          git submodule update --init
      #      - name: Setup tmate session
      #        uses: mxschmitt/action-tmate@v3
      - name: Setup template config files
        run: |
          cp /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/currentbranch/secrets.ini.template /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/currentbranch/secrets.ini
          touch /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/currentbranch/.version_no_increment_update_date;
      - name: Static code analysis
        run: |
          cd currentbranch;
          platformio platform install espressif32;
          platformio check --verbose --severity=high --skip-packages;
      - name: Run PlatformIO
        run: |
          cd currentbranch;
          platformio run -e glowwormluciferinlight_esp32;
      - name: Creating artifact from BIN file
        uses: actions/upload-artifact@v3
        with:
          name: DRAFT_GLOW_WORM_LUCIFERIN_ESP32_LIGHT.bin
          path: /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/currentbranch/.pio/build/glowwormluciferinlight_esp32/firmware.bin
      - name: Save artifact (glowwormluciferinlight_esp32)
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd currentbranch;
          cp .pio/build/glowwormluciferinlight_esp32/firmware.bin ../beta/docs/static/firmware_build_beta/GlowWormLuciferinLIGHT_ESP32_firmware.bin
          cp .pio/build/glowwormluciferinlight_esp32/firmware-factory.bin ../beta/docs/static/firmware_build_beta/GlowWormLuciferinLIGHT_ESP32_firmware-factory.bin
          cd ../beta;
          git config --global user.email "perini.davide@dpsoftware.org";
          git config --global user.name "Davide Perini";
          git add ./docs/static/firmware_build_beta/GlowWormLuciferinLIGHT_ESP32_firmware.bin;
          git add ./docs/static/firmware_build_beta/GlowWormLuciferinLIGHT_ESP32_firmware-factory.bin;
          git commit -m "CI BETA release for firmware web installer";
          git push;

  web_tools_update:
    runs-on: ubuntu-latest
    needs: [ build_esp8266_full, build_esp8266_light, build_esp32_full, build_esp32_light ]

    steps:
      - uses: actions/checkout@v3
        with:
          path: 'beta'
      - uses: actions/checkout@v3
        with:
          ref: master
          path: 'currentbranch'
      - name: Retrieve version
        id: vars
        run: |
          echo "::set-output name=TAG_NAME::$(cat /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/beta/version)"
      - name: Set property version in a ESP Web Tools json file
        uses: benday-inc/set-property-value-in-appsettings@v1.3
        with:
          pathtosettingsfile: '/home/runner/work/glow_worm_luciferin/glow_worm_luciferin/currentbranch/docs/static/firmware_build_beta/manifest_full.json'
          keyname1: 'version'
          valuetoset: '${{ steps.vars.outputs.TAG_NAME }}'
      - name: Set property version in a ESP Web Tools json file
        uses: benday-inc/set-property-value-in-appsettings@v1.3
        with:
          pathtosettingsfile: '/home/runner/work/glow_worm_luciferin/glow_worm_luciferin/currentbranch/docs/static/firmware_build_beta/manifest_light.json'
          keyname1: 'version'
          valuetoset: "${{ steps.vars.outputs.TAG_NAME }}"
      - name: Save artifact (glowwormluciferinfull_esp8266)
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd currentbranch;
          git config --global user.email "perini.davide@dpsoftware.org";
          git config --global user.name "Davide Perini";
          git add ./docs/static/firmware_build_beta/manifest_full.json;
          git add ./docs/static/firmware_build_beta/manifest_light.json;
          cat /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/currentbranch/docs/static/firmware_build_beta/manifest_light.json;
          git commit -m "CI BETA release for firmware web installer";
          git push;