name: Create Release

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  create_draft_release:
    env:
      commitmsg: ${{ github.event.head_commit.message }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Release version
        run: |
          echo $RELEASE_VERSION
          echo ${{ env.RELEASE_VERSION }}
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            Changes in this Release
            ${{ env.commitmsg }}
          draft: true
          prerelease: false
      
  build_esp8266_firmware:
    needs: [ create_draft_release ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: master
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Release version
        run: |
          echo $RELEASE_VERSION
          echo ${{ env.RELEASE_VERSION }}
      - id: get-id
        run: |
          id=$(echo $RELEASE_VERSION | cut -dv -f2)
          echo "id=$id" >> $GITHUB_OUTPUT
      - name: Set up Python
        uses: actions/setup-python@v4
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install platformio
          python --version
      - name: Install submodules
        run: |
          git submodule update --init
      - name: Setup template config files
        run: |
          cp /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/secrets.ini.template /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/secrets.ini
          touch .version_no_increment_update_date;
          echo ${{steps.get-id.outputs.id}} > version
      - name: Static code analysis
        run: platformio check --verbose --severity=high --skip-packages
      - name: Run PlatformIO
        run: platformio run -e glowwormluciferinfull_esp8266
      - name: Save artifact (glowwormluciferinfull_esp8266)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cp .pio/build/glowwormluciferinfull_esp8266/firmware.bin ./GlowWormLuciferinFULL_ESP8266_firmware.bin
          hub release edit -a GlowWormLuciferinFULL_ESP8266_firmware.bin -m "" "${{ env.RELEASE_VERSION }}"
      - name: Run PlatformIO
        run: platformio run -e glowwormluciferinlight_esp8266
      - name: Save artifact (glowwormluciferinlight_esp8266)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cp .pio/build/glowwormluciferinlight_esp8266/firmware.bin ./GlowWormLuciferinLIGHT_ESP8266_firmware.bin
          hub release edit -a GlowWormLuciferinLIGHT_ESP8266_firmware.bin -m "" "${{ env.RELEASE_VERSION }}"
      - name: Commit firmware into GitHub.io docs folder
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mv ./GlowWormLuciferinFULL_ESP8266_firmware.bin ./docs/static/firmware_build/GlowWormLuciferinFULL_ESP8266_firmware.bin
          mv ./GlowWormLuciferinLIGHT_ESP8266_firmware.bin ./docs/static/firmware_build/GlowWormLuciferinLIGHT_ESP8266_firmware.bin
          git config --global user.email "perini.davide@dpsoftware.org";
          git config --global user.name "Davide Perini";
          git add ./docs/static/firmware_build/GlowWormLuciferinFULL_ESP8266_firmware.bin;
          git add ./docs/static/firmware_build/GlowWormLuciferinLIGHT_ESP8266_firmware.bin;
          git commit -m "CI release for firmware web installer";
          git push;

  build_esp32_firmware:
    needs: [ build_esp8266_firmware ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: master
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Release version
        run: |
          echo $RELEASE_VERSION
          echo ${{ env.RELEASE_VERSION }}
      - id: get-id
        run: |
          id=$(echo $RELEASE_VERSION | cut -dv -f2)
          echo "id=$id" >> $GITHUB_OUTPUT
      - name: Set up Python
        uses: actions/setup-python@v4
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install platformio
          python --version
      - name: Install submodules
        run: |
          git submodule update --init
      - name: Setup template config files
        run: |
          cp /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/secrets.ini.template /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/secrets.ini
          touch .version_no_increment_update_date;
          echo ${{steps.get-id.outputs.id}} > version
      - name: Static code analysis
        run: platformio check --verbose --severity=high --skip-packages
      - name: Run PlatformIO
        run: platformio run -e glowwormluciferinfull_esp32
      - name: Save artifact (glowwormluciferinfull_esp32)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cp .pio/build/glowwormluciferinfull_esp32/firmware.bin ./GlowWormLuciferinFULL_ESP32_firmware.bin
          cp .pio/build/glowwormluciferinfull_esp32/firmware-factory.bin ./GlowWormLuciferinFULL_ESP32_firmware-factory.bin
          hub release edit -a GlowWormLuciferinFULL_ESP32_firmware.bin -m "" "${{ env.RELEASE_VERSION }}"
      - name: Run PlatformIO
        run: platformio run -e glowwormluciferinlight_esp32
      - name: Save artifact (glowwormluciferinlight_esp32)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cp .pio/build/glowwormluciferinlight_esp32/firmware.bin ./GlowWormLuciferinLIGHT_ESP32_firmware.bin
          cp .pio/build/glowwormluciferinlight_esp32/firmware-factory.bin ./GlowWormLuciferinLIGHT_ESP32_firmware-factory.bin
          hub release edit -a GlowWormLuciferinLIGHT_ESP32_firmware.bin -m "" "${{ env.RELEASE_VERSION }}"
      - name: Commit firmware into GitHub.io docs folder
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cp ./GlowWormLuciferinFULL_ESP32_firmware.bin ./docs/static/firmware_build/GlowWormLuciferinFULL_ESP32_firmware.bin
          cp ./GlowWormLuciferinLIGHT_ESP32_firmware.bin ./docs/static/firmware_build/GlowWormLuciferinLIGHT_ESP32_firmware.bin
          cp ./GlowWormLuciferinFULL_ESP32_firmware-factory.bin ./docs/static/firmware_build/GlowWormLuciferinFULL_ESP32_firmware-factory.bin
          cp ./GlowWormLuciferinLIGHT_ESP32_firmware-factory.bin ./docs/static/firmware_build/GlowWormLuciferinLIGHT_ESP32_firmware-factory.bin
          git config --global user.email "perini.davide@dpsoftware.org";
          git config --global user.name "Davide Perini";
          git add ./docs/static/firmware_build/GlowWormLuciferinFULL_ESP32_firmware.bin;
          git add ./docs/static/firmware_build/GlowWormLuciferinLIGHT_ESP32_firmware.bin;
          git add ./docs/static/firmware_build/GlowWormLuciferinFULL_ESP32_firmware-factory.bin;
          git add ./docs/static/firmware_build/GlowWormLuciferinLIGHT_ESP32_firmware-factory.bin;
          git add ./version;
          git add ./include/Version.h;
          git commit -m "CI release for firmware web installer";
          git push;

  web_tools_update:
    runs-on: ubuntu-latest
    needs: [build_esp8266_firmware, build_esp32_firmware]

    steps:
      - uses: actions/checkout@v3
        with:
          ref: master
          path: 'currentbranch'
      - name: Retrieve version
        id: vars
        run: |
          echo "TAG_NAME=$(cat /home/runner/work/glow_worm_luciferin/glow_worm_luciferin/currentbranch/version)" >> $GITHUB_OUTPUT
      - name: Set property version in a ESP Web Tools json file
        uses: benday-inc/set-property-value-in-appsettings@v1.3
        with:
          pathtosettingsfile: '/home/runner/work/glow_worm_luciferin/glow_worm_luciferin/currentbranch/docs/static/firmware_build/manifest_full.json'
          keyname1: 'version'
          valuetoset: '${{ steps.vars.outputs.TAG_NAME }}'
      - name: Set property version in a ESP Web Tools json file
        uses: benday-inc/set-property-value-in-appsettings@v1.3
        with:
          pathtosettingsfile: '/home/runner/work/glow_worm_luciferin/glow_worm_luciferin/currentbranch/docs/static/firmware_build/manifest_light.json'
          keyname1: 'version'
          valuetoset: "${{ steps.vars.outputs.TAG_NAME }}"
      - name: Save artifact (glowwormluciferinfull_esp8266)
        continue-on-error: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd currentbranch;
          git config --global user.email "perini.davide@dpsoftware.org";
          git config --global user.name "Davide Perini";
          git add ./docs/static/firmware_build/manifest_full.json;
          git add ./docs/static/firmware_build/manifest_light.json;
          git commit -m "CI release for firmware web installer";
          git push;           

  create_release:
    needs: [build_esp8266_firmware, build_esp32_firmware, web_tools_update]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Release version
        run: |
          echo $RELEASE_VERSION
          echo ${{ env.RELEASE_VERSION }}
      - id: get-id
        run: |
          id=$(echo $RELEASE_VERSION | cut -dv -f2)
          echo "id=$id" >> $GITHUB_OUTPUT
      - name: Publish release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          hub release edit --draft=false -m "Release ${{ env.RELEASE_VERSION }}" "${{ env.RELEASE_VERSION }}"
